<?xml version="1.0" encoding="utf-8" ?>
<!-- Sybase ASE Database driver settings. -->
<databaseDriver>
	<shortName>Sybase ASE (ASE Client)</shortName>
	<name>Sybase ASE Driver (ASE Client)</name>
	<databaseName>Sybase Adaptive Server Enterprise (ASE)</databaseName>
	<databaseShortName>Sybase ASE</databaseShortName>
	<assemblyFilename>SD.LLBLGen.Pro.DBDrivers.SybaseAseDBDriver.dll</assemblyFilename>
	<namespace>SD.LLBLGen.Pro.DBDrivers.SybaseAse</namespace>
	<className>SybaseAseDBDriver</className>
	<driverID>A3076322-977C-4e28-BFF4-F25ED096D1DB</driverID>
	<dynamicQueryEngineNamespace>SD.LLBLGen.Pro.DQE.SybaseAse</dynamicQueryEngineNamespace>
	<caseSensitiveElementNames>true</caseSensitiveElementNames>
</databaseDriver>
